<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <title>Đức Đẹp Trai!</title>

    <link rel="stylesheet" href="css/demo.css" />

    <script src="js/demo.js" defer></script>
  </head>
  <body>
    
  <div id="search">
    <p class="p"> Luckfy</p>
    <p class="p"> Conan</p>
    <p class="p"> Conan</p>
    <p class="p"> Naruto</p>
    <p class="p"> Nobita</p>
    <p class="p"> Goku</p>
    <p class="p"> Doraemon</p>
    <p class="p"> Vô Diện</p>
    <p class="p"> Miko</p>
    <p class="p"> Izuku</p>
    <p class="p"> Kakashi</p>
    <p class="p"> Hânko</p>
    <p class="p"> Nezuko</p>
    <p class="p"> Achkerman</p>
    <p class="p"> Kitagawa </p>
    <p class="p"> Umaru</p>
    <p class="p"> Misty </p>
    <p class="p"> AcMiranjo </p>
    <p class="p"> Lucy </p>
    <p class="p"> Amber </p>
    <p class="p"> Haruhi </p>
    <p class="p"> Umaru</p>
    <p class="p"> Misty </p>
    <p class="p"> AcMiranjo</p>
    <p class="p"> Lucy </p>
    <p class="p"> Amber </p>
    <p class="p"> Haruhi q</p>
    <p class="p"> Luckfy</p>
    <p class="p"> Conan</p>
    <p class="p"> Conan</p>
    <p class="p"> Naruto</p>
    <p class="p"> Nobita</p>
    <p class="p"> Goku</p>
    <p class="p"> Doraemon</p>
    <p class="p"> Vô Diện</p>
    <p class="p"> Miko</p>
    <p class="p"> Izuku</p>
    <p class="p"> Kakashi</p>
    <p class="p"> Hânko</p>
    <p class="p"> Nezuko</p>
    <p class="p"> Achkerman</p>
    <p class="p"> Kitagawa </p>
    <p class="p"> Umaru</p>
    <p class="p"> Misty </p>
    <p class="p"> AcMiranjo </p>
    <p class="p"> Lucy </p>
    <p class="p"> Amber </p>
    <p class="p"> Haruhi </p>
    <p class="p"> Umaru</p>
    <p class="p"> Misty </p>
    <p class="p"> AcMiranjo</p>
    <p class="p"> Lucy </p>
    <p class="p"> Amber </p>
    <p class="p"> Haruhi q</p>
  </div>
  <div id="box-center">
    <div id="d3">
    <h1>
    Cosplay là gì ? Cosplay có gì vui ?
    </h1>
    <p>
      Cosplay là nó copi chỉ v thôi
    </p>
    <img id="img1" onclick="changer(this)" src="https://lzd-img-global.slatic.net/g/p/dbb40302e4063570b2b6b74d3897d40b.jpg_720x720q80.jpg">
    <p>
      Cosplay là một từ tiếng Anh do người Nhật sáng tạo ra, là sự kết hợp của "costume" (trang phục) và "role play" (hóa thân), được phát âm là kosupure (コスプレ) ở Nhật.[1] Từ này chỉ việc người hâm mộ các nhân vật trong manga, anime, tokusatsu, truyện tranh sách, tiểu thuyết đồ họa, video games, phim giả tưởng, ca sĩ, quân nhân, nhân vật chính trị,... ăn mặc hoặc có điệu bộ giống nhân vật mà mình yêu thích. Những người này được gọi là "cosplayer" (ở Nhật đôi khi gọi tắt là reya レイヤー). Họ có thể lập các nhóm/ câu lạc bộ để luyện tập và diễn cùng nhau. Ngoài ra, họ còn tham gia vào các sự kiện, lễ hội liên quan đến các tác phẩm nghệ thuật có nhân vật giả tưởng được yêu thích, hoặc thậm chí tổ chức sự kiện riêng để biểu diễn.
    </p>
  </div>
    <div id="box-right">
      <p>
        cần quảng cáo liên hệ:19001001
      </p>
      
      <img class="img-advertisement" src="https://i.pinimg.com/736x/1b/90/74/1b90744f3331c8e1b84383319ce2ff8d.jpg">
      <p>
        Anh Đức: nhà cái đến từ Châu Âu-Uy Tín-Hiệu Quả
      </p>
      <img class="img-advertisement" src="https://img-cdn.2game.vn/2023/05/18/Shenhe-Cosplay-6.jpg">
    </div>
    </div>
    <footer>
    <p>
      Đây là thẻ footer
      </p>
      <p>
        Nhà sản xuất: Anh Đức
        Số liên hệ:19001010
      </p>
    </footer>
  <div id="navbar">
    <img id="img" src="https://kenh14cdn.com/thumb_w/660/203336854389633024/2022/3/28/photo-1-16484498472652092974741.jpg">
    <div id="d1">
      <a onmouseover="over(this)" onmouseout="out(this)" href="https://www.coolmate.me/post/cosplay-la-gi-do-cosplay-gom-nhung-gi">Intro</a>
      <a onmouseover="over(this)" onmouseout="out(this)" href="https://www.coolmate.me/post/goi-y-13-nhan-vat-anime-de-cosplayt">Figure</a>
      <a onmouseover="over(this)" onmouseout="out(this)" href="https://nhadepso.com/anh-cosplay-anime/">Highlight</a>
    </div>
    <div id="d2">
      <a onmouseover="over(this)" onmouseout="out(this)" href="https://toplist.vn/top-list/nu-cosplayer-noi-tieng-the-gioi-11643.htm">Cosplayer</a>
      <a onmouseover="over(this)" onmouseout="out(this)" href="https://japagazine.com/culture/modern/entry-255.html">Feedback</a>
      <% if(check  == 5 ){ %>
        <a onmouseover="over(this)" onmouseout="out(this)" id="btnAcc">Tài khoản</a>
      <% } else{ %>  
        <button onmouseover="over(this)" onmouseout="out(this)" id="btn">
          Đăng nhập/đăng kí
        </button>
        <% } %>    
    </div>
    </div>
    <% if( check  != 0 && check != 5){ %>
      <div class="modal1" id="myParagraph">
        <div class="modal__inner1">
          <div class="modal__header1">
            <p class="Log">Đăng nhập</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="modal__body1">
            <form action="/action" method="POST">
              <input id="Sign-Log" class="input" type="text" name="Sign-Log" value="1">
                <label >Name:  </label>
                <input class="input" type="text" name="name" placeholder=" name"><br><br>
                <label >Email:  </label>
                <input class="input" type="email" name="email" placeholder=" mail@gmail.com"><br><br>
                <label >City:  </label>
                <input class="input" type="text" name="city" placeholder=" city"><br><br>
                <% if(check ==1){ %>
                    <p id="datacheck1">Tài khoản chưa tồn tại!</p>
                <% }else if(check ==2){ %>   
                  <p id="datacheck1">Chưa điền name!</p>
                <% }else if(check ==3){ %> 
                  <p id="datacheck1">Chưa điền email!</p>
                <% }else if(check ==4){ %> 
                  <p id="datacheck1">Chưa điền city!</p>
                <% }else if(check ==6){ %> 
                  <p id="datacheck1">email đã có!</p>
                <% } %> 
                <br><input class="button" type="submit" value="Submit">
                <button class="button" name="button" onclick="Log()" type="button">Sign-Up</button>
            </form>
        </div>
        <div class="modal__footer1">
          <button>Close</button>
        </div>
      </div>
    </div>
    <% } %>
    <div class="modal hide">
        <div class="modal__inner">
          <div class="modal__header">
            <p class="Log">Đăng nhập</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="modal__body">
            <form action="/action" method="POST">
              <input id="Sign-Log" class="input" type="text" name="SignLog" value="1">
                <label >Name:</label>
                <input class="input" type="text" name="name" placeholder=" name"><br><br>
                <label >Email:</label>
                <input class="input" type="email" name="email" placeholder=" mail@gmail.com"><br><br>
                <label >City</label>
                <input class="input" type="text" name="city" placeholder=" city"><br><br>
                <input class="button" type="submit" value="Submit">
                <button class="button"  onclick="Log()" name="button" type="button">Sign-Up</button>
            </form>
        </div>
        <div class="modal__footer">
          <button>Close</button>
        </div>
      </div>
    </div>
    <% if(check==5 || check==7) { %>
      <div class="account hideAcc">
        <div class="account-inner">
          <button id="infor" class="acc-btn ">Thông tin</button>
          <button id="openRecharge" class="acc-btn">Nạp tiền</button>
          <button id="openMonthly" class="acc-btn">Thẻ tháng</button>
          <a href="/" class="acc-a">Đăng xuất</a>
        </div>
      </div>
      <div class="infor hideInfor">
        <div class="Infor-inner">
          <h2 class="text-infor">Information of account</h2><br>
          <p class="text-infor">Name:<%= name %></p>
          <p class="text-infor">Email:<%= email %></p>
          <p class="text-infor">City:<%= city %></p>
          <p class="text-infor">Monney:<%= recharge %></p>
          <p class="text-infor">Monthly card:<%= monthly %></p>
        </div>
      </div>
      <div class="Recharge hideRecharge">
        <div class="Recharge-inner">
          <form action="/Recharge" method="POST">
            <input class="InForRecharge" class="input" type="text" name="account" value="<%= email %>">
            <input class="InForRecharge" class="input" type="text" name="Recharge1" value="<%= recharge %>">
            <input class="InForRecharge" class="input" type="text" name="city" value="<%= city %>">
            <input class="InForRecharge" class="input" type="text" name="name" value="<%= name %>">
            <input class="InForRecharge" class="input" type="text" name="MonthlyInfor" value="<%= monthly %>">
            <label >Bạn đang có:<%= recharge %></label><br><br>
              <label >Nạp Tiền:</label>
              <input type="number" class="input" name="Recharge" min="10000" max="500000"><br><br>
              <label >Bạn có thể nạp từ 10.000 đến 500.000 VND</label><br><br>
              <input class="button" type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="Monthly hideMonthly">
        <div class="Monthly-inner">
          <form action="/Monthly" method="POST" onsubmit="return CheckMonthly()">
            <input class="InForRecharge" class="input" type="text" name="account" value="<%= email %>">
            <input class="InForRecharge" class="input" type="text" name="Recharge" id="Recharge-check" value="<%= recharge %>">
            <input class="InForRecharge" class="input" type="text" name="city" value="<%= city %>">
            <input class="InForRecharge" class="input" type="text" name="name" value="<%= name %>">
            <input class="InForRecharge" class="input" type="text" name="MonthlyInfor" value="<%= monthly %>">
            <label >Bạn đang có:<%= recharge %> và <%= monthly %> tháng</label><br><br>
              <label >Mua thẻ tháng:</label>
              <input type="number" id="monthly" class="input" name="Monthly" min="1" max="5"><br><br>
              <label id="mess" ></label><br><br>
              <label >Bạn có thể đăng kí từ 1 đến 5 tháng(mỗi tháng hết 20.000 VND)</label><br><br>
              <input onclick class="button" type="submit" value="Submit">
          </form>
        </div>
      </div>
    <% } %>
  </body>
</html>
